div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.col{
padding: 15px 25px;
border: #4472c4;
}
.col1{
    color:white;
    text-align: center;
    background-color: #4472c4;
}
.col_margin{
    padding: 15px 15px;
}
.col_gallery{
    padding: 15px 70px;
}
.col_title{
    padding: 5px 40px;
}